name: Test
on:
  pull_request:
  push: { branches: master }

jobs:
  test:
    name: Ruby ${{ matrix.ruby }}

    runs-on: ubuntu-latest

    strategy:
      matrix: { ruby: ['2.7', '3.0', '3.1'] }

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    # Rush needed for easy installation of phantomjs
    - name: Install rush
      run: curl -Ls http://get.dannyb.co/rush/setup | bash

    - name: Install phantomjs
      run: rush snatch dannyben phantomjs

    - name: Install OS dependencies
      run: sudo apt-get -y install libyaml-dev

    - name: Setup Ruby
      uses: ruby/setup-ruby@v1
      with: 
        ruby-version: '${{ matrix.ruby }}'
        bundler-cache: true

    - name: Run mock server
      run: |
        nohup bundle exec run mockserver &
        sleep 2

    - name: Run tests
      run: bundle exec rspec
